/* our products (third section) */
.ourProducts-container {
  background-color: #fff5f5;
  height: 291px;
}
.ourProducts-container h1 {
  text-align: center;
  padding-top: 16px;
  margin-bottom: 32px;
}
.ourProducts-image-text-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 32px;
}
.ourProduct-image {
  height: 124px;
  width: 124px;
  /* background-size: cover; */
  border-radius: 50%;
}
.ourProduct-image1 {
  background: url(images/circleImage1.jpg);
  background-size: cover;
}
.ourProduct-image2 {
  background: url(images/circleImage2.jpg);
  background-size: cover;
}
.ourProduct-image3 {
  background: url(images/circleImage3.jpg);
  background-size: cover;
}
