.orderHistory-header {
  height: 96px;
  width: 471px;
  background-color: #f9f5ff;
  font-weight: 600;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}
.orderHistory-items {
  height: 179px;
  width: 471px;
  display: flex;
  align-items: center;
  position: relative;
  padding: 32px;
}
.orderHistory-couponCode {
  height: 142px;
  width: 471px;
  padding: 16px;
}
.orderHistory-productAddons {
  height: 340px;
  width: 471px;
  /* border: 2px solid blue; */
  padding: 16px;
}
.orderHistory-blankSpace {
  height: 131px;
  width: 471px;
  background-color: white;
}
.orderHistory-couponApplied {
  height: 49px;
  width: 471px;
  background-color: #219653;
  display: flex;
  justify-content: center;
  align-items: center;
}
.proceedCheckout {
  height: 88px;
  width: 471px;
  background-color: #f9f5ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  padding-left: 24px;
  padding-right: 24px;
}

/* first section(my-cart-header) */
.orderHistory-header-text {
  line-height: 120%;
}
.orderHistory-header-close-button-container {
  height: 32px;
  width: 32px;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}
.orderHistory-header-close-button {
  height: 22px;
  width: 22px;
  transform: rotate(-45deg);
  color: rgba(0, 0, 0, 0.5);
  /* line-height: 120%; */
  /* text-align: center; */
}

/* second section(my-cart-items) */
.orderHistory-items-photo {
  background-image: url("images/circleImage7.jpg");
  background-size: cover;
  height: 115px;
  width: 115px;
  border-radius: 8px;
}
.orderHistory-items-description {
  height: 113px;
  width: 255px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 14px;
  margin-left: 12px;
}
.orderHistory-items-description-textRate-container {
  height: 69px;
  width: 255px;
}

.orderHistory-items-description-text {
  width: 255px;
  height: 42px;

  font-weight: 500;
  line-height: 148%;
  letter-spacing: 0.01em;
  color: rgba(27, 5, 4, 0.75);
}
.orderHistory-items-description-rate {
  width: 172px;
  height: 23px;
  font-weight: 600;
  line-height: 162%;
  letter-spacing: 0.02em;
  color: #1b0504;
}
.orderHistory-items-description-incrementDecrement {
  width: 88px;
  height: 24px;
  display: flex;
  gap: 8px;
}
.orderHistory-items-description-decrement-container {
  width: 24px;
  height: 24px;
  background: #e95850;
  border-radius: 4px;
  padding: 5px;
  padding-left: 8px;
  color: #f2f2f2;
}
.orderHistory-items-description-quantity-container {
  width: 24px;
  height: 24px;
  background: #fff5f5;
  border-radius: 4px;
  padding: 5px;
  padding-left: 8px;
}
.orderHistory-items-description-increment-container {
  width: 24px;
  height: 24px;
  background: #e95850;
  border-radius: 4px;
  padding: 5px;
  padding-left: 8px;
  color: #f2f2f2;
}
.orderHistory-items-close-button-container {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-100%, 50%);
  height: 24px;
  width: 24px;
  padding: 1px;
  padding-left: 6px;
}
.orderHistory-items-close-button {
  transform: rotate(-45deg);
  color: rgba(33, 33, 33, 0.64);
  height: 17.5px;
  width: 17.5px;
  font-size: 18px;
  font-weight: 600;
}

/* sixth section(coupon applied) */
.orderHistory-couponApplied-svg {
  height: 21px;
  width: 21px;
}
.orderHistory-couponApplied-checkBadge {
  stroke: #219653;
  fill: white;
}
.orderHistory-couponApplied-text {
  color: white;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
}
