.popup-container {
  /* background: rgb(249, 249, 250); */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 200px;
  padding: 16px;
  position: absolute;
  right: 6rem;
  top: 4rem;
}
